<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 <hibernate-configuration>
 <session-factory>
<property name="connection.driver_class">org.postgresql.Driver</property> 
  <property name="connection.url">jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}</property> 
  <property name="connection.username">${DB_USER}</property> 
  <property name="connection.password">${DB_PASSWORD}</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> 
  <property name="show_sql">false</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.jdbc.batch_size">10</property>
 
  <mapping resource="com/MOJICT/UBI/Beans/Data.hbm.xml" />
  <mapping resource="com/MOJICT/UBI/Beans/UserBean.hbm.xml" />
  <mapping resource="com/MOJICT/UBI/Beans/Path.hbm.xml" />
  </session-factory>
  </hibernate-configuration>
